@inherits LayoutComponentBase

<div class="grid grid-cols-1 grid-rows-[auto_1fr] md:grid-cols-[200px_1fr] md:grid-rows-[auto_1fr_auto] min-h-screen ">
    <nav class="col-span-full p-4 h-16">this is the navbar</nav>
    <aside class="sidebar-menu row-start-2 -row-end-1 bg-slate-400 opacity-50 top-16 fixed hidden md:static md:block">this is the sidebar</aside>
    <main class="col-start-2 -col-end-1 row-start-2 -row-end-1 p-16">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
