@inherits LayoutComponentBase

<div class="grid grid-cols-1 grid-rows-[auto_1fr] lg:grid-cols-[300px_1fr] lg:grid-rows-[auto_1fr_auto] min-h-screen">
    <NavMenu />
    <aside class="sidebar-menu lg:row-start-2 lg:-row-end-1 bg-timberwolf top-16 fixed hidden lg:static lg:block shadow-lg shadow-black p-8">
        The sidebar will be functional soon
    </aside>
    <main class="col-span-full lg:col-start-2 lg:-col-end-1 lg:row-start-2 lg:-row-end-1 bg-linen p-16">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
