@import "tailwindcss";

@theme {
    --color-french-gray: #bbbbbf;
    --color-french-gray-100: #252527;
    --color-french-gray-200: #49494e;
    --color-french-gray-300: #6e6e75;
    --color-french-gray-400: #94949a;
    --color-french-gray-500: #bbbbbf;
    --color-french-gray-600: #c8c8cc;
    --color-french-gray-700: #d6d6d8;
    --color-french-gray-800: #e4e4e5;
    --color-french-gray-900: #f1f1f2;

    --color-yinmn-blue: #465775;
    --color-yinmn-blue-100: #0e1218;
    --color-yinmn-blue-200: #1c232f;
    --color-yinmn-blue-300: #2a3547;
    --color-yinmn-blue-400: #39465e;
    --color-yinmn-blue-500: #465775;
    --color-yinmn-blue-600: #5f769e;
    --color-yinmn-blue-700: #8798b7;
    --color-yinmn-blue-800: #afbacf;
    --color-yinmn-blue-900: #d7dde7;

    --color-claret: #750d37;
    --color-claret-100: #17030b;
    --color-claret-200: #2e0515;
    --color-claret-300: #450820;
    --color-claret-400: #5c0a2b;
    --color-claret-500: #750d37;
    --color-claret-600: #b81456;
    --color-claret-700: #e8307a;
    --color-claret-800: #f075a6;
    --color-claret-900: #f7bad3;

    --color-hunter-green: #386641;
    --color-hunter-green-100: #0b140d;
    --color-hunter-green-200: #16291a;
    --color-hunter-green-300: #223d27;
    --color-hunter-green-400: #2d5234;
    --color-hunter-green-500: #386641;
    --color-hunter-green-600: #51935e;
    --color-hunter-green-700: #77b483;
    --color-hunter-green-800: #a4cdac;
    --color-hunter-green-900: #d2e6d6;

    --color-field-drab: #625834;
    --color-field-drab-100: #13110a;
    --color-field-drab-200: #272314;
    --color-field-drab-300: #3a341f;
    --color-field-drab-400: #4d4629;
    --color-field-drab-500: #625834;
    --color-field-drab-600: #90824c;
    --color-field-drab-700: #b4a571;
    --color-field-drab-800: #cdc3a0;
    --color-field-drab-900: #e6e1d0;

    --color-bittersweet: #ef5b5b;
    --color-bittersweet-100: #3c0606;
    --color-bittersweet-200: #790c0c;
    --color-bittersweet-300: #b51212;
    --color-bittersweet-400: #e92020;
    --color-bittersweet-500: #ef5b5b;
    --color-bittersweet-600: #f27d7d;
    --color-bittersweet-700: #f59e9e;
    --color-bittersweet-800: #f9bebe;
    --color-bittersweet-900: #fcdfdf;

    /* Thistle */
    --color-thistle: #cdb4db;
    --color-thistle-100: #2b1a36;
    --color-thistle-200: #57346b;
    --color-thistle-300: #824ea1;
    --color-thistle-400: #a87ec1;
    --color-thistle-500: #cdb4db;
    --color-thistle-600: #d6c2e2;
    --color-thistle-700: #e0d2e9;
    --color-thistle-800: #ebe1f0;
    --color-thistle-900: #f5f0f8;

    /* Fairy Tale */
    --color-fairy-tale: #ffc8dd;
    --color-fairy-tale-100: #5b0023;
    --color-fairy-tale-200: #b60046;
    --color-fairy-tale-300: #ff116c;
    --color-fairy-tale-400: #ff6ca4;
    --color-fairy-tale-500: #ffc8dd;
    --color-fairy-tale-600: #ffd2e3;
    --color-fairy-tale-700: #ffddea;
    --color-fairy-tale-800: #ffe9f1;
    --color-fairy-tale-900: #fff4f8;

    /* Carnation Pink */
    --color-carnation-pink: #ffafcc;
    --color-carnation-pink-100: #56001f;
    --color-carnation-pink-200: #ab003f;
    --color-carnation-pink-300: #ff025f;
    --color-carnation-pink-400: #ff5895;
    --color-carnation-pink-500: #ffafcc;
    --color-carnation-pink-600: #ffbed6;
    --color-carnation-pink-700: #ffcee0;
    --color-carnation-pink-800: #ffdeea;
    --color-carnation-pink-900: #ffeff5;

    /* Uranian Blue */
    --color-uranian-blue: #bde0fe;
    --color-uranian-blue-100: #012f57;
    --color-uranian-blue-200: #035eaf;
    --color-uranian-blue-300: #0f8dfb;
    --color-uranian-blue-400: #66b6fd;
    --color-uranian-blue-500: #bde0fe;
    --color-uranian-blue-600: #cbe6fe;
    --color-uranian-blue-700: #d8ecfe;
    --color-uranian-blue-800: #e5f3ff;
    --color-uranian-blue-900: #f2f9ff;

    /* Light Sky Blue */
    --color-light-sky-blue: #a2d2ff;
    --color-light-sky-blue-100: #002b54;
    --color-light-sky-blue-200: #0056a7;
    --color-light-sky-blue-300: #0082fb;
    --color-light-sky-blue-400: #50aaff;
    --color-light-sky-blue-500: #a2d2ff;
    --color-light-sky-blue-600: #b6dcff;
    --color-light-sky-blue-700: #c8e4ff;
    --color-light-sky-blue-800: #daedff;
    --color-light-sky-blue-900: #edf6ff;


    --color-isabelline: #edede9;
    --color-isabelline-100: #34342a;
    --color-isabelline-200: #676754;
    --color-isabelline-300: #989881;
    --color-isabelline-400: #c2c2b5;
    --color-isabelline-500: #edede9;
    --color-isabelline-600: #f0f0ed;
    --color-isabelline-700: #f4f4f2;
    --color-isabelline-800: #f8f8f6;
    --color-isabelline-900: #fbfbfb;

    /* Timberwolf */
    --color-timberwolf: #d6ccc2;
    --color-timberwolf-100: #312921;
    --color-timberwolf-200: #625241;
    --color-timberwolf-300: #937a62;
    --color-timberwolf-400: #b6a391;
    --color-timberwolf-500: #d6ccc2;
    --color-timberwolf-600: #ded6ce;
    --color-timberwolf-700: #e7e0da;
    --color-timberwolf-800: #efebe7;
    --color-timberwolf-900: #f7f5f3;

    /* Linen */
    --color-linen: #f5ebe0;
    --color-linen-100: #473017;
    --color-linen-200: #8e5f2e;
    --color-linen-300: #c78f52;
    --color-linen-400: #debd99;
    --color-linen-500: #f5ebe0;
    --color-linen-600: #f7efe6;
    --color-linen-700: #f9f3ed;
    --color-linen-800: #fbf7f3;
    --color-linen-900: #fdfbf9;

    /* Champagne Pink */
    --color-champagne-pink: #e3d5ca;
    --color-champagne-pink-100: #38291e;
    --color-champagne-pink-200: #70523b;
    --color-champagne-pink-300: #a87b59;
    --color-champagne-pink-400: #c5a891;
    --color-champagne-pink-500: #e3d5ca;
    --color-champagne-pink-600: #e8ddd4;
    --color-champagne-pink-700: #eee6df;
    --color-champagne-pink-800: #f4eeea;
    --color-champagne-pink-900: #f9f7f4;

    /* Pale Dogwood */
    --color-pale-dogwood: #d5bdaf;
    --color-pale-dogwood-100: #33241b;
    --color-pale-dogwood-200: #664735;
    --color-pale-dogwood-300: #986b50;
    --color-pale-dogwood-400: #ba937c;
    --color-pale-dogwood-500: #d5bdaf;
    --color-pale-dogwood-600: #ddcabf;
    --color-pale-dogwood-700: #e6d7cf;
    --color-pale-dogwood-800: #eee4df;
    --color-pale-dogwood-900: #f7f2ef;
}