@page "/all"

<PageTitle>My Feed</PageTitle>

@if (_isAuthenticated)
{
    <div
        class="min-h-screen bg-linear-to-br from-purple-400 via-fuchsia-300 to-pink-300 grid grid-rows-[auto_1fr] lg:grid-cols-[280px_1fr] lg:grid-rows-1 relative">

        <MobileNavbar />

        <Sidebar />

        <!-- Main Content -->
        <main class="flex-1 relative z-10">
            <div class="h-full grid grid-rows-[auto_1fr]">
                <Header BtnText="✨ new post" ClickHandler="@((MouseEventArgs e) => Navigation.NavigateTo("/"))" />

                <!-- Content Area -->
                <div class="flex-1 overflow-y-auto">
                    <div class="max-w-auto mx-auto px-4 py-8 lg:px-8">

                        @if (_posts is null || _posts.Count == 0)
                        {
                            <PostCard Content="No Posts Yet" Username="MUSE" ReadOnly=@true />
                        }
                        else
                        {
                            foreach (var post in _posts)
                            {
                                <PostCard
                                    Id=@post.Id
                                    Content=@post.Content
                                    ContentHtml=@post.ContentHtml
                                    Userid=@post.Userid
                                    Username=@post.Username
                                    ReadOnly=@true
                                />
                            }
                        }

                    </div>
                </div> <!-- Content Area -->

            </div>
        </main>

    </div>
}