@page "/"

<PageTitle>Home</PageTitle>

@if (_isAuthenticated)
{
    <Markdown Value="@_markdownValue" ValueChanged="@OnMarkdownValueChanged" />
    <h1>This is the string:</h1>
    <br />@_markdownValue
}
