@page "/auth/signup"


<div class="min-h-screen bg-linear-to-br from-purple-400 via-fuchsia-300 to-pink-300 flex justify-center items-center">
    <main class="flex flex-col bg-white/20 backdrop-blur-md rounded-2xl border border-white/30 shadow-xl p-8 w-1/2">
        <h1 class="flex justify-center text-3xl">Signup</h1>

        <div class="flex flex-col"> 
            <label>Username: </label>
            <input type="text" class="bg-white/30 p-2 rounded-md" @bind="_user.Username" @bind:event="oninput" />
        </div>

        username: @_user.Username
        
        <div class="flex flex-col">
            <label>Password: </label>
            <input type="password" class="bg-white/30 p-2 rounded-md" @bind="_user.Password" @bind:event="oninput" />
        </div>

        <div>
            <span>Already have an account?
                <br /><BtnSecondary OnClick="GoToLogin" Text="Login"/>
            </span>
        </div>

        <span class="flex w-full justify-center mt-4"><BtnPrimary Text="Signup" OnClick="SignupHandler" /></span>
    </main>
</div>