<nav class="col-span-full flex justify-between p-4 h-16 bg-pale-dogwood shadow-2xl shadow-black">
    <div class="flex gap-4">
        <span class="absolute left-1/2 lg:static">Muse</span>
        <span class="hidden lg:block">Search...</span>
        <span class="hidden lg:block">All Notes</span>
        <span class="block lg:hidden">Menu</span>
    </div>

    <div>
        <span>Abhinav Jha</span>
    </div>
</nav>